<div>
    <PageSkeleton :data-list="dataList" :selected-row-keys="selectedRowKeys" :panel-group="panelGroup"
        :filter-list="filterList" @handle-route="handleClickItem" @handle-filter="handleFilter">
        <!-- 渲染数据 -->
        <template #tableSlot>
            <a-table row-key="id" :loading="loading" :columns="columnList" :data-source="dataList"
                :pagination="pagination" :row-selection="rowSelection" bordered @change="handleTableChange">
                <template #titlex="{ text }">
                    <span v-html="text"></span>
                </template>
                <template #state="{ text }">
                    <a-badge :status="BADGE_STATUS(text)" :text="filterList.STATUS[text]" />
                </template>
                <template #action="{ text, record }">
                    <a-button class="table-action-btn-space" size="small" @click="handleClickItem('edit', record.id)">查看
                    </a-button>
                </template>
            </a-table>
        </template>
    </PageSkeleton>
</div>
